[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]

start = "uvicorn app.main:app --reload"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pydantic-settings = "*"
geoalchemy2 = "*"

[dev-packages]

[requires]
python_version = "3.14"
